@using Microsoft.Owin.Security;

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Login</h2>

@{
    string returnUrl = ViewBag.ReturnUrl;

    using (Html.BeginForm("ExternalLogin", "Auth", new { ReturnUrl = returnUrl }))
    {
        IEnumerable<AuthenticationDescription> loginProviders =
            this.Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
        <div id="socialLoginList">
            @if (loginProviders.Any() == false)
            {
                <button type="submit" class="btn btn-default" id="Development" name="provider" value="Development" title="Log in to the Development environment">Login with Development account</button>
            }
            else
            {
                foreach (AuthenticationDescription p in loginProviders)
                {
                    <button type="submit" class="btn btn-default" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">Login with @p.AuthenticationType account</button>
                }
            }
        </div>
    }
}