<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sabbath Text</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="//fonts.googleapis.com/css?family=PT+Sans:700,400&subset=cyrillic" rel="stylesheet">
    <link href="~/Content/sunrise/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/sunrise/css/sunrise.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="page-heading">Sabbath Text</h1>
                <p class="description" style="font-weight: bold; font-style: italic;">
                    &ldquo;Then God blessed the seventh day and made it holy, <br /> because on it He rested from all the work of creating that He had done.&rdquo;
                </p>

                <form class="subscription-form form-inline" id="subscription-form" method="post">
                    <input type="text" class="subscription-phone" id="subscription-phone" name="PhoneNumber" placeholder="Phone Number">

                    <div class="subscription-submit-container">
                        <button class="subscription-submit btn btn-large" id="subscription-submit">GET STARTRTED</button>
                    </div>
                </form>
            </div>
            <div class="col-md-3" style="margin-top: 200px">
                <img border="0" src="~/Content/images/subscribe.png" />
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="@Url.Content("~/Content/sunrise/js/jquery.min.js")"><\/script>')</script>
    <script src="~/Content/sunrise/main.config.js"></script>
    <script src="~/Content/sunrise/js/sunrise.js"></script>
</body>
</html>