<!doctype html>

@{
    string thumbnailUrl = "http://www.sabbathtext.com" + Url.Content("~/Content/images/thumbnail-sunset.png");
}

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Sabbath Text</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta property="og:title" content="Sabbath Text" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.sabbathtext.com/" />
    <meta property="og:image" content="@thumbnailUrl" />
    <meta property="og:description" content="Start each Sabbath with a Bible text!" />

    <link href="//fonts.googleapis.com/css?family=PT+Sans:700,400&subset=cyrillic" rel="stylesheet">
    <link href="~/Content/sunrise/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/sunrise/css/sunrise.css" rel="stylesheet" />
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="page-heading">Sabbath Text</h1>
                <p class="description" style="font-weight: bold; font-style: italic;">
                    &ldquo;Then God blessed the seventh day and made it holy, <br /> because on it He rested from all the work of creating that He had done.&rdquo;
                </p>

                <p>
                    We will send you a Bible text to start each Sabbath!
                </p>

                <p>
                    Enter your phone number below and we will reach out to you, or text &ldquo;Hello&rdquo; to <span style="color: white; font-weight: bold;">(423) 438-1844</span>.
                </p>

                <p style="margin-top: 30px;"><i>Your phone number will <b>not</b> be shared with any other parties.</i></p>  

                <form class="subscription-form form-inline" id="subscription-form" method="post" action="@Url.Action("Index", "GetStarted")">
                    <input type="text" class="subscription-phone" id="subscription-phone" name="phoneNumber" placeholder="Phone Number" required>

                    <div class="subscription-submit-container">
                        <button class="subscription-submit btn btn-large" id="subscription-submit">GET STARTED</button>
                    </div>
                </form>
                
                           

                <p>                    
                   <img border="0" style="margin-top: 30px; margin-left: 30px;" src="~/Content/images/subscribe.png" />
                </p>
            </div>            
            <div class="col-md-5">
                <img border="0" style="margin-top: 100px; margin-left: 30px; margin-bottom: 30px;" src="~/Content/images/sabbath.png" />
            </div>
        </div>
        <div style="text-align: center; margin-bottom: 15px;">
            &copy; 2014 Sabbath Text - Reach out to us on <a href="http://twitter.com/sabbathtext" style="color: white; text-decoration: underline;">Twitter</a>
        </div>
    </div>

    @Html.Partial("GoogleAnalytics")
</body>
</html>